{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
  {# 1) Affiche l’erreur d’authentification, si présente #}
  {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  {# 2) Si déjà connecté, affiche l’utilisateur + lien de déconnexion #}
  {% if app.user %}
    <div class="mb-3">
      You are logged in as {{ app.user.userIdentifier }},
      <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
  {% endif %}

  <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

  {# 3) Champ identifiant #}
  <label for="inputUsername">Username</label>
  <input
    type="text"
    value="{{ last_username }}"
    name="username"
    id="inputUsername"
    class="form-control"
    autocomplete="username"
    required
    autofocus
  >

  {# 4) Champ mot de passe #}
  <label for="inputPassword">Password</label>
  <input
    type="password"
    name="password"
    id="inputPassword"
    class="form-control"
    autocomplete="current-password"
    required
  >

  {# 5) Protection CSRF #}
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

  {# 6) “Bouton” de soumission (lien + JS) #}
  <a href="#" class="btn btn-lg btn-primary"
     onclick="this.closest('form').submit(); return false;">
    Se connecter
  </a>
</form>
{% endblock %}
